on:
  workflow_call:
    inputs:
      username:
        required: true
        type: string

jobs:
  reusable_workflow_job:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run a one-line script
        run: echo Hello from Octo Organization
      - name: User name!!!
        run: echo "${{ github.event.inputs.username }}"
      - name: Repo Name
        run: echo "${{ github.event.repository.name }}"
